 <div ng-controller="ForumCtrl" style="margin-right : 300px; margin-left : 300px;">
    <ang-accordion class="accordion" one-at-a-time="true" icon-position="right" close-icon-class="fa fa-chevron-right accordion-container" open-icon-class="fa fa-chevron-down">

      <collapsible-item  ng-repeat="forum in forums" item-title="{{forum.Name}}">
        <h3>Description</h3>
        <p>
          {{forum.Description}}
        </p>
        
        <h3>Set of rules</h3>
        <p>
           {{forum.Rules}}
        </p>
        <h3>Co-moderators</h3>
        <ul>
		  <li ng-repeat="moderator in forum.Moderators">{{moderator}}</li>
		</ul>  
        <h4 class="moderator-italic">Moderator: <span style="font-style: italic;">{{forum.Moderator}}</span></h4>
     </collapsible-item>

    </ang-accordion>
    
 </div>