<div class="new-forum" ng-controller="NewForumCtrl">
	<div class="container">
	  <h2 style="margin-left: 194px;margin-bottom: 30px;">Add new forum</h2>
	  <form class="form-horizontal" ng-submit="addForum(data)">
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="email">Name:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" id="email" placeholder="Enter name for forum" ng-model="data.name">
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="email">Description:</label>
	      <div class="col-sm-10">
	        <textarea class="form-control" rows="5" id="comment" ng-model="data.description"></textarea>
	      </div>
	    </div>
	       <div class="form-group">
	      <label class="control-label col-sm-2" for="email">Upload image:</label>
	      <div class="col-sm-10">
			<input type="file" accept="image/*" id="capture" capture="camera" ng-click="disableGif()"  onchange="angular.element(this).scope().getBase64(this)">
	      </div>
	    </div>
	     <div class="form-group">
	      <label class="control-label col-sm-2" for="email">Set of rules:</label>
	      <div class="col-sm-10">
	        <textarea class="form-control" rows="5" id="comment" ng-model="data.rules"></textarea>
	      </div>
	    </div>
	    
	    <div class="form-group" >
	        <label class="control-label col-sm-2" for="email">Moderators:</label>
		    <div class="col-sm-10" id="moderators">
		    	<div class="container">
				    <div class="checkbox" ng-repeat="moderator in moderators">
				      <label><input type="checkbox"  ng-model="moderator.isSelected">{{moderator.Name}} {{moderator.SurName}}</label>
				    </div>
				</div>
		    </div>
	    </div>
	    
	    
	    
	    
	    <div class="form-group">        
	      <div class="col-sm-offset-2 col-sm-10">
	        <button type="submit" class="btn btn-default">Submit</button>
	      </div>
	    </div>
	  </form>
	</div>
</div>