
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>


 <div ng-controller="RenderThemesCtrl" style="margin-right : 100px; margin-left : 100px; margin-top : 170px;">
    <ang-accordion class="accordion" one-at-a-time="true" icon-position="right" close-icon-class="fa fa-chevron-right accordion-container" open-icon-class="fa fa-chevron-down">

  


      <collapsible-item  ng-repeat="theme in themes" item-title="{{theme.Title}}"   ng-click="refreshLikes(theme.Title)">
 
        <h3>Testing</h3>
        <div>
		    <p>Taken from wikpedia</p>
		    <img ng-if="theme.Type == 'Image'" src="{{theme.Base64}}" alt="Red dot" />
		    <p ng-if="theme.Type == 'Text'">
		    	{{theme.Content}}
		    </p>
		    <a ng-if="theme.Type == 'Link'" href="{{theme.Link}}">{{theme.Link}}</a>
		</div> 
	
	 <div class="votes" ng-if="log">
      	<button type="button" class="btn btn-default btn-sm" ng-click="addRemoveLikes(theme.Title)">
          <span class="glyphicon glyphicon-thumbs-up"></span> {{like}}
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="addRemoveDisLikes(theme.Title)">
          <span class="glyphicon glyphicon-thumbs-down"></span> {{dislike}}
        </button>
      </div>
	
	
		<div class="comments">	
		<div ng-if="log">
	      <h4>Leave a Comment:</h4>
	        <div class="form-group">
	          <textarea class="form-control" rows="2"  ng-model="mainComment"></textarea>
	        </div>
	        <button type="submit" class="btn btn-success" ng-click="leaveMainComment(mainComment,theme.Title)">Submit</button>
	      <br><br>
	    </div>
	      <p><!--<span class="badge">2</span>  --> Comments:</p><br>
	      
		    <div ng-controller="TreeController">
		        <tree ng-repeat="t in treeFamily | filter: { Theme: theme.Title } " family="t"></tree>
		    </div>
    	</div>
     </collapsible-item>

    </ang-accordion>
    
 </div>