<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Forum</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartupServlet</display-name>
    <servlet-name>StartupServlet</servlet-name>
    <servlet-class>com.servlets.StartupServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRoleServlet</display-name>
    <servlet-name>ChangeRoleServlet</servlet-name>
    <servlet-class>com.servlets.ChangeRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRoleServlet</servlet-name>
    <url-pattern>/ChangeRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUsersServlet</display-name>
    <servlet-name>GetAllUsersServlet</servlet-name>
    <servlet-class>com.servlets.GetAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUsersServlet</servlet-name>
    <url-pattern>/GetAllUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllModeratorsServlet</display-name>
    <servlet-name>GetAllModeratorsServlet</servlet-name>
    <servlet-class>com.servlets.GetAllModeratorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllModeratorsServlet</servlet-name>
    <url-pattern>/GetAllModeratorsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewForumServlet</display-name>
    <servlet-name>AddNewForumServlet</servlet-name>
    <servlet-class>com.servlets.AddNewForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewForumServlet</servlet-name>
    <url-pattern>/AddNewForumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllForumsServlet</display-name>
    <servlet-name>GetAllForumsServlet</servlet-name>
    <servlet-class>com.servlets.GetAllForumsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllForumsServlet</servlet-name>
    <url-pattern>/GetAllForumsServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AddNewThemeServlet</display-name>
    <servlet-name>AddNewThemeServlet</servlet-name>
    <servlet-class>com.servlets.AddNewThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewThemeServlet</servlet-name>
    <url-pattern>/AddNewThemeServlet</url-pattern>
  </servlet-mapping>
</web-app>