<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Forum</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartupServlet</display-name>
    <servlet-name>StartupServlet</servlet-name>
    <servlet-class>com.servlets.StartupServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRoleServlet</display-name>
    <servlet-name>ChangeRoleServlet</servlet-name>
    <servlet-class>com.servlets.ChangeRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRoleServlet</servlet-name>
    <url-pattern>/ChangeRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUsersServlet</display-name>
    <servlet-name>GetAllUsersServlet</servlet-name>
    <servlet-class>com.servlets.GetAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUsersServlet</servlet-name>
    <url-pattern>/GetAllUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllModeratorsServlet</display-name>
    <servlet-name>GetAllModeratorsServlet</servlet-name>
    <servlet-class>com.servlets.GetAllModeratorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllModeratorsServlet</servlet-name>
    <url-pattern>/GetAllModeratorsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewForumServlet</display-name>
    <servlet-name>AddNewForumServlet</servlet-name>
    <servlet-class>com.servlets.AddNewForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewForumServlet</servlet-name>
    <url-pattern>/AddNewForumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllForumsServlet</display-name>
    <servlet-name>GetAllForumsServlet</servlet-name>
    <servlet-class>com.servlets.GetAllForumsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllForumsServlet</servlet-name>
    <url-pattern>/GetAllForumsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewThemeServlet</display-name>
    <servlet-name>AddNewThemeServlet</servlet-name>
    <servlet-class>com.servlets.AddNewThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewThemeServlet</servlet-name>
    <url-pattern>/AddNewThemeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetThemeServlet</display-name>
    <servlet-name>GetThemeServlet</servlet-name>
    <servlet-class>com.servlets.GetThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetThemeServlet</servlet-name>
    <url-pattern>/GetThemeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewCommentServlet</display-name>
    <servlet-name>AddNewCommentServlet</servlet-name>
    <servlet-class>com.servlets.AddNewCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewCommentServlet</servlet-name>
    <url-pattern>/AddNewCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCommentsForForumServlet</display-name>
    <servlet-name>GetCommentsForForumServlet</servlet-name>
    <servlet-class>com.servlets.GetCommentsForForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCommentsForForumServlet</servlet-name>
    <url-pattern>/GetCommentsForForumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRemoveLikesServlet</display-name>
    <servlet-name>AddRemoveLikesServlet</servlet-name>
    <servlet-class>com.servlets.AddRemoveLikesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRemoveLikesServlet</servlet-name>
    <url-pattern>/AddRemoveLikesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRemoveDisLikesServlet</display-name>
    <servlet-name>AddRemoveDisLikesServlet</servlet-name>
    <servlet-class>com.servlets.AddRemoveDisLikesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRemoveDisLikesServlet</servlet-name>
    <url-pattern>/AddRemoveDisLikesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLikesServlet</display-name>
    <servlet-name>GetLikesServlet</servlet-name>
    <servlet-class>com.servlets.GetLikesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLikesServlet</servlet-name>
    <url-pattern>/GetLikesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDisLikesServlet</display-name>
    <servlet-name>GetDisLikesServlet</servlet-name>
    <servlet-class>com.servlets.GetDisLikesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDisLikesServlet</servlet-name>
    <url-pattern>/GetDisLikesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentLikeServlet</display-name>
    <servlet-name>AddCommentLikeServlet</servlet-name>
    <servlet-class>com.servlets.AddCommentLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentLikeServlet</servlet-name>
    <url-pattern>/AddCommentLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentDisLikeServlet</display-name>
    <servlet-name>AddCommentDisLikeServlet</servlet-name>
    <servlet-class>com.servlets.AddCommentDisLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentDisLikeServlet</servlet-name>
    <url-pattern>/AddCommentDisLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCommentServlet</display-name>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <servlet-class>com.servlets.DeleteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <url-pattern>/DeleteCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCommentServlet</display-name>
    <servlet-name>EditCommentServlet</servlet-name>
    <servlet-class>com.servlets.EditCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCommentServlet</servlet-name>
    <url-pattern>/EditCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditThemeTextServlet</display-name>
    <servlet-name>EditThemeTextServlet</servlet-name>
    <servlet-class>com.servlets.EditThemeTextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditThemeTextServlet</servlet-name>
    <url-pattern>/EditThemeTextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteThemeServlet</display-name>
    <servlet-name>DeleteThemeServlet</servlet-name>
    <servlet-class>com.servlets.DeleteThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteThemeServlet</servlet-name>
    <url-pattern>/DeleteThemeServlet</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>DeleteForumServlet</display-name>
    <servlet-name>DeleteForumServlet</servlet-name>
    <servlet-class>com.servlets.DeleteForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteForumServlet</servlet-name>
    <url-pattern>/DeleteForumServlet</url-pattern>
  </servlet-mapping>
</web-app>